*{
    padding:0;
    margin:0;
    font-family: "Inter", sans-serif;
}

body{
    background-color:hsl(0, 0%, 8%);
}

.card{
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 260px;
    padding: 10px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    text-align: center;
    color: white;
}

img{
    border-radius: 50px;
    width:60px;
    margin:20px;
}

.name{
    font-weight: 700;
    font-size: larger;
}

.location{
    font-weight: 600;
    font-size: 12px;
    color:hsl(75, 94%, 57%);
    padding: 10px;
}

.developer{
    font-weight: 200;
    text-align: center;
    font-size: 12px;
    margin:10px;
}

button{
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    margin:7px;
    font-weight: 700;
    border: none;
    font-size: 12px;
}


button:hover{
    color: black;
    background-color:hsl(75, 94%, 57%) ;
}


.attribution { 
    color:white; 
    font-size: 11px; 
    text-align: center; 
    padding:10px;
}
.attribution a { 
    color: hsl(75, 94%, 57%); 
    text-decoration: none;
}

@media (min-width:376px) {
    .card{
        width: 320px;
    }

    .button{
        width:300px;
    }
}